<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Advenced REact Application Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div id="root">
    Loding..
</div>
<script src="bundle.js" charset="utf-8"></script>
</body>
</html>